<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="/js/sampleJs.js" th:src="@{/js/account.js}"></script>
<link rel="stylesheet" th:href="@{/css/accountfinish.css}">
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/Start/jquery-ui.css">
<title>自動入力情報登録完了</title>
</head>
<body>
	<header id="header">
		<h1 id="titlename">自動入力情報登録完了</h1>
	</header>
	<div id="formArea">
		<span id="formvalue">自動入力情報登録が完了しました。</span>
	<div>
		<a th:href="@{/top/}"><button type="button">トップ画面へ</button></a>
	</div>
	</div>
</body>
</html>