<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="/js/sampleJs.js" th:src="@{/js/income.js}"></script>
<script src="https://rawgit.com/jquery/jquery-ui/master/ui/i18n/datepicker-ja.js"></script>
<link rel="stylesheet" th:href="@{/css/incomeAdd.css}">
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/Start/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet"><!-- タイトルフォントcss -->
<title>収入登録画面</title>
</head>
<body>

<header id="header">
	<h1 id="titlename">収入登録画面</h1>
	<span id = "inlineblock">
		<button onclick="location.href='/top/'">TOP</button>
		<button onclick="location.href='/login/logout'">ログアウト</button>
	</span>
</header>

<div class="main">
<div class="box">

	<form th:action="@{/income/addcomplete}" th:object="${incomeForm}" id="incomeForm" method="post">
		<div>
			<input type="hidden" name="userid" th:value="${session.loginItem.userid}">
			収入ジャンル：
			<select name="genreid">
				<option th:each="genre : ${genreList}" th:value="${genre.incomegenreid}" th:text="${genre.incomegenrename}">
			</select>
		</div>
		<div id="dateform">
			<div class="alert"></div>
			日付：<input type="text" name ="incomedate" id="date" autocomplete="off">
		</div>
		<div id="titleform">
			<div class="alert"></div>
			題目：<input type="text" name="title" id="title" placeholder="給与">
		</div>
		<div id="priceform">
			<div class="alert"></div>
			金額：<input type="text" name="price" id="price" placeholder="200000">円
		</div>
		<div id="contentsform">
			<div class="alert"></div>
			内容：<div><textarea rows="30" cols="40" name="contents" id="contents" placeholder="牛乳、キャベツ、ビール"></textarea></div>
		</div>

		<div id="alert" class="alert"></div>

		<input type="button" th:value="戻る" onclick="history.back()">
		<input type="submit" th:value="登録" class="submit"/>
	</form>
</div>
</div>
</body>
</html>