<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="/js/sampleJs.js" th:src="@{/js/savings.js}"></script>
<link rel="stylesheet" th:href="@{/css/savings.css}">
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/Start/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet"><!-- タイトルフォントcss -->
<title>目標貯金額変更画面</title>
</head>
<body>
<header id="header">
	<h1 id="titlename">目標貯金額変更画面</h1>
</header>
<div class="main">
<div class="box">
<div th:errors="${savingForm.*}" style="color:red" class="errormessage"></div>
	<form th:action="@{/saving/editcomplete}" th:object="${savingForm}" id="savingForm" method="post">
		<div>
			<div id="alert" class="alert"></div>
			<input type="text" name="targetSaving" placeholder="目標貯金額" id="targetSaving">円
		</div>

		<input type="button" th:value="戻る" onclick="history.back()">
		<input type="submit" th:value="変更" class="submit"/>
	</form>
</div>
</div>
</body>
</html>